// Canvas stylesheet
$offwhite: #EFDFBB;
$dutch_white: #EFDFBB;

.canvas {
  position: relative;
  top: 20px;
  background-color: $dutch_white;
  border-radius: 50px;
  // cursor: url(http://www.rw-designer.com/cursor-view/67856.png), 4, 4, pointer;
  cursor: url('../assets/images/paintbrush.png') 0 30, pointer;
}
