// Canvas stylesheet
$offwhite: #EFDFBB;
$dutch_white: #EFDFBB;

.colorPicker {
  width: 20vw;
  height: 20vh;
  top: -500px;
  background-color: salmon;
  position: relative;
  align-content: center;
  justify-content: center;
}
