// Canvas stylesheet
$offwhite: #EFDFBB;
$dutch_white: #EFDFBB;

.colorPicker {
  // width: 100px;
  top: -40px;
  background-color: 'red';
  position: relative;
  align-content: center;
  justify-content: center;
}
