.displayCard {
  background-color: white;
  // width: 40vw;
  // height: 80vh;
  border-radius: 10%;
  z-index: 0;
}
.DrawingPageCard {
  display: flex;
  position: relative;
  height: 500px;
  width: 550px;
  justify-content: center;
  align-items: center;
}
.home-flex {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.Button {
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 0;
  width: 500px;
  height: 500px;
  // background-color: rgba(0,0,0,.2);
  border-radius: 10%;
  border: none;
  outline: none;
}
.buttonTitle {
  position: relative;
  z-index: 0;
  color: white;
  padding: 0px;
  margin: 0px;
}
.extra-large-font {
  font-size: 200px;
}
button:focus { outline: none; }

.new-session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
input {
  position: relative;
  top: 20px;
}
