.resizable {
    position: relative;
    overflow: scroll;
    resize: both;
    width: 200px;
    height: 400px;
    max-width: 600px;
    max-height: 960px;
    background: orange;
    z-index: 0;
}
.orderBox {
  width: 40px;
}
.layer-text {
  text-align: center;
  font-weight: 900;
  color: white;
}
