$primary-color: #023;
$font-stack: Helvetica, sans-serif;
// body {
//   font: 100% $font-stack;
//   color: $primary-color;
// }

// body {
//   background: #333;
//   height: 100vh;
//   display: flex;
//   justify-content: center;
//   align-items: center;
// }

.Pixel {
  width: 1vw;
  height: 1vw;
  float: left;
  box-shadow: 0px 0px 1px #fff;
}

// .Pixel {
//   flex: auto;
//   width: 3vh;
//   height: 3vh;
//   background-color: $primary-color;
//   // border-radius: 45px;
//   border: solid #000;
//   border-width: 4px 4px 4px 4px;
// }
