// Canvas stylesheet
$offwhite: #EFDFBB;
$dutch_white: #EFDFBB;

.canvas {
  display: block;
  position: relative;
  background-color: $dutch_white;
  z-index: 0;
}

.canvas_container {
  z-index: 0;
  height: 100%;
  width: 100%;
  // background-color: salmon;
}
