.displayCard {
  background-color: white;
  border-radius: 10%;
  z-index: 0;
}
.DrawingPageCard {
  display: flex;
  position: relative;
  height: 50vh;
  width: 50vh;
  margin: 10px;
  justify-content: center;
  align-items: center;
}
.home-flex {
  display: flex;
  position: relative;
  width: 100%;
  height: 100vh;
  justify-content: center;
  align-items: center;
}
.Button {
  position: relative;
  align-items: center;
  justify-content: center;
  z-index: 0;
  width: 50vh;
  height: 50vh;
  // background-color: rgba(0,0,0,.2);
  border-radius: 10%;
  border: none;
  outline: none;
}

.big-button {
  border-radius: 20%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 4vh;
  color: white;
  box-shadow: 0 5px 5px rgba(50, 50, 93, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
  transition: box-shadow 350ms;
  transition: transform 350ms;
  // transition: border-radius 100ms;
  cursor: pointer;

  &:hover {
    box-shadow: 0 15px 35px rgba(50, 50, 93, 0.5), 0 5px 15px rgba(0, 0, 0, 0.5);
    transform: translateY(-5px);
  }

  &:active {
    box-shadow: 0 5px 5px rgba(50, 50, 93, 0.2), 0 5px 5px rgba(0, 0, 0, 0.2);
    transform: translateY(-5px);
    // border-radius: 50%;
  }

  .big-button__title {
    text-align: center;
    transition: transform 350ms;
    user-select: none;
  }

  &:hover .big-button__title {
    transform: translateY(-10px);
  }

  .big-button__icon {
    fill: white;
  }
}

.buttonTitle {
  position: relative;
  display: flex;
  flex-direction: column;
  text-align: center;
  // background-color: blue;
  align-items: center;
  // vertical-align: center;
  justify-content: center;
  // line-height: 50vh;
  color: white;
  height: 100%;
  width: 100%;
}
.extra-large-font {
  font-size: 200px;
}
.DescriptionTitle {
  position: absolute;
  top: 50px;
  // margin-top: 40px;
  font-size: 35px;
  color: white;
}
.card-icon {
  width: 50%;
  height: 50%;
  fill: rgba(255,255,255,1);
  // -webkit-transform: rotate(-45deg); /* Safari and Chrome */
  // -moz-transform: rotate(-45deg);   /* Firefox */
  // -ms-transform: rotate(-45deg);   /* IE 9 */
  // -o-transform: rotate(-45deg);   /* Opera */
  // transform: rotate(-45deg);
}
button:focus { outline: none; }

.new-session-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
input {
  position: relative;
  // top: 20px;
}
@media screen and (max-width: 1099px){
  .home-flex {
    flex-direction: column;
  }
  .big-button {
    width: 80vw;
    height: 80vw;
  }
  .big-button__title {
    font-size: 4.25vh;
  }
  .big-button__icon {
    height: 20%;
  }
}
@media screen and (min-width: 1100px){
  .home-flex {
    flex-direction: row;
  }
  .big-button {
    width: 50vh;
    height: 50vh;
  }
  .big-button__title {
    font-size: 6.25vh;
  }
  .big-button__icon {
    height: 30%;
  }
}
